<section class="author">
    <div class="author__container container">
        <div class="author__wrap">
            <h1 class="author__title">
                Hi, I am John, Creative Technologist
            </h1>
            <p class="author__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="author__btn">
                <a href="#">Download Resume</a>
            </div>
        </div>

        <div class="author__photo">
            <img src="./assets/img/Author.png" alt="avatar">
        </div>
    </div>
</section>