<section class="author">
    <div class="author__container container">
        <div class="author__wrap wrap">
            <div class="author__info">
                <h1 class="author__title">
                    Hi, I am John, Creative Technologist
                </h1>
                <p class="author__description">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <div class="author__btn">
                    <a class="author__btn-link" href="#">Download Resume</a>
                </div>
            </div>

            <div class="author__photo">
                <img class="author__photo-img" src="./assets/img/author.png" alt="avatar">
            </div>
        </div>
    </div>
</section>