<footer class="footer">
    <div class="footer__container container">
        <div class="footer__follow">
            <ul class="footer__social">
                <li class="footer__social-list">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="./assets/img/icon/fb.svg" alt="Facebook">
                    </a>
                </li>

                <li class="footer__social-list">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="./assets/img/icon/insta.svg" alt="Instagram">
                    </a>
                </li>

                <li class="footer__social-list">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="./assets/img/icon/twitter.svg" alt="Twitter">
                    </a>
                </li>

                <li class="footer__social-list">
                    <a class="footer__social-link" href="#">
                        <img class="footer__social-icon" src="./assets/img/icon/linkedin.svg" alt="Linkedin">
                    </a>
                </li>
            </ul>
        </div>

        <small class="footer__copyright">Copyright &copy; 2020 All rights reserved </small>
    </div>
</footer>