<section class="posts">
    <div class="posts__container container">
        <div class="posts__wrap wrap">
            <div class="posts__head">
                <h2 class="posts__title">Recent posts</h2>
                <div class="posts__more">
                    <a class="posts__more-link" href="#">View all</a>
                </div>
            </div>

            <div class="posts__cards">
                <div class="posts__card">
                    <h3 class="posts__card-title">
                        Making a design system from scratch
                    </h3>

                    <div class="posts__card-date date">
                        <time class="date__time" datetime="2020-02-12">12 Feb 2020</time>
                        <span class="date__desc">Design, Pattern</span>
                    </div>

                    <p class="posts__card-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                
                <div class="posts__card">
                    <h3 class="posts__card-title">
                        Creating pixel perfect icons in Figma
                    </h3>

                    <div class="posts__card-date date">
                        <time class="date__time" datetime="2020-02-12">12 Feb 2020</time>
                        <span class="date__desc">Figma, Icon Design</span>
                    </div>

                    <p class="posts__card-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>