.header {
  padding: 131px 0;

  &__menu {
    &-list {
      list-style-type: none;
      padding-right: 60px;
      display: flex;
      justify-content: flex-end;
    }

    &-item {
      padding-right: 33px;

      &:last-child {
        padding-right: 0;
      }
    }

    &-link {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-align: right;
      color: #000000;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: #ff6464;
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 1139.98px) {
  .header {
    padding: 80px 0;
  }
}

@media (max-width: 767.98px) {
  .header {
    min-height: 50px;
    padding: 0;
    position: relative;

    &__burger {
      display: block;
      width: 30px;
      height: 18px;
      position: fixed;
      cursor: pointer;
      z-index: 2;
      top: 20px;
      right: 32px;

      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease;
        background-color: #000000;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
    }

    &__menu {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 130px 30px 30px 30px;
      transition: all 0.3s ease;
      z-index: 1;

      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      &-link {
        color: #ffffff;
        font-size: 30px;
      }

      &-item {
        padding-right: 0;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.active {
  left: 0;
}

.close {
  margin-top: 15px;

  & span,
  &::before,
  &::after {
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    top: 0;
  }

  & span {
    display: none;
  }
}
