.posts {
  &__wrap {
    background-color: #edf7fa;
  }

  &__title {
    font-weight: normal;
    font-size: 22px;
    line-height: 273%;
    color: #21243d;
    margin-bottom: 4px;
    padding-top: 14px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }

  &__more {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }

    &-link {
      font-weight: normal;
      line-height: 143%;
      color: #00a8cc;
    }
  }

  &__cards {
    display: flex;
    gap: 20px;
    padding-bottom: 32px;
    flex-wrap: wrap;
    margin-right: -20px;
  }

  &__card {
    background: #ffffff;
    border-radius: 4px;
    padding: 24px;
    flex: 0 1 48%;

    &-title {
      font-weight: bold;
      font-size: 26px;
      line-height: 146%;
      color: #21243d;
      margin-bottom: 17px;
    }

    &-description {
      font-weight: normal;
      line-height: 143%;
      color: #21243d;
    }
  }
}

.date {
  margin-bottom: 11px;

  &__time {
    font-weight: normal;
    font-size: 18px;
    line-height: 144%;
    color: #21243d;
    padding-right: 31px;
    position: relative;

    &::after {
      content: "|";
      position: absolute;
      width: 2px;
      height: 21px;
      right: 0;
      top: 0;
      color: #21243d;
    }
  }

  &__desc {
    font-weight: normal;
    font-size: 18px;
    line-height: 144%;
    color: #21243d;
    padding-left: 26px;
  }
}

@media (max-width: 879.98px) {
  .posts {
    &__cards {
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 38px;
    }

    &__head {
      display: flex;
      justify-content: center;
    }

    &__more {
      display: none;
    }

    &__title {
      font-size: 18px;
    }

    &__card {
      &-title {
        font-size: 22px;
        line-height: 136%;
        margin-bottom: 12px;
      }
    }
  }

  .date {
    margin-bottom: 19px;

    &__time {
      font-size: 16px;
      line-height: 144%;
      padding-right: 24px;
    }

    &__desc {
      font-size: 16px;
      padding-left: 24px;
    }
  }
}
